html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #202046;
  font-family: 'Inter', sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  background-image: url(../images/pattern-bg.svg), url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: 90% 35%, bottom left;
}

@media (max-width: 800px) {
  body {
    background-position: center 8%, bottom left;
    background-size: 85%, 80%;
  }
}

.container {
  max-width: 116rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 3rem;
    padding-top: 9.5rem;
  }
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .testimonial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonial__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  z-index: 1;
}

@media (max-width: 800px) {
  .testimonial__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}

.testimonial__text:before {
  content: url("../images/pattern-quotes.svg");
  position: absolute;
  top: -6.4rem;
  left: 9.2rem;
}

@media (max-width: 800px) {
  .testimonial__text:before {
    top: -5.6rem;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0.5);
            transform: translateX(-50%) scale(0.5);
  }
}

.testimonial__illustration {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

@media (max-width: 800px) {
  .testimonial__illustration {
    margin-bottom: 8rem;
  }
}

.testimonial__image {
  width: 100%;
  -webkit-box-shadow: 1rem 6rem 40px -2.5rem rgba(32, 32, 70, 0.2);
          box-shadow: 1rem 6rem 40px -2.5rem rgba(32, 32, 70, 0.2);
}

@media (max-width: 800px) {
  .testimonial__image {
    display: block;
    width: 75%;
    margin: 0 auto;
  }
}

.testimonial__buttons {
  position: absolute;
  bottom: -2rem;
  left: 6.4rem;
  width: 11rem;
  height: 5.6rem;
  background-color: white;
  border-radius: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .testimonial__buttons {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 8rem;
    height: 3.6rem;
  }
}

.testimonial__buttons button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: 0;
}

@media (max-width: 800px) {
  .testimonial__buttons button svg {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

.testimonial__buttons button:hover path, .testimonial__buttons button:focus path {
  stroke: #202046;
}

.testimonial__review {
  width: 115%;
  margin-bottom: 3.2rem;
  line-height: 1.4;
}

@media (max-width: 800px) {
  .testimonial__review {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
  }
}

.testimonial__author {
  font-size: 2.2rem;
}

.testimonial__author-role {
  color: #babacf;
  font-weight: 500;
}

@media (max-width: 800px) {
  .testimonial__author-role {
    display: block;
  }
}

.footer {
  margin: 3rem 0;
  text-align: center;
  font-size: 1.3rem;
}

.footer a {
  color: tomato;
}
/*# sourceMappingURL=index.css.map */